/* About section styling */
.about {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 100%;
    margin: 0;
  }
  
  .about h2 {
    font-size: 3.5rem;
    color: #27ae60;
    margin-bottom: 30px;
  }
  
  /* Add background color and more space below "Sobre Nosotros" */
  .about {
    padding-bottom: 100px;
  }
  
  .about p {
    font-size: 1.4rem;
    color: #555;
    line-height: 2;
    margin: 0 auto; /* Center the text block */
    max-width: 800px; /* Set a max width to keep the text neatly wrapped */
    padding: 0 20px; /* Add padding to the sides for better readability */
  }
  


  