/* Estilo para la sección de Contacto */

/* .contact: Define el estilo general para la sección "Contacto" */
.contact {
  background-color: #f4f4f4; /* Establece un fondo gris claro */
  padding: 80px 20px; /* Añade espacio alrededor del contenido para mayor legibilidad */
  text-align: center; /* Centra todo el contenido de la sección */
}

/* .contact h2: Estilo para el título */
.contact h2 {
  font-size: 3rem; /* Título grande y visible */
  color: #27ae60; /* Verde característico del proyecto */
  margin-bottom: 30px; /* Espacio inferior para separar el título del resto del contenido */
}

/* .contact p: Estilo para los párrafos */
.contact p {
  font-size: 1.5rem; /* Tamaño de fuente ajustado para legibilidad */
  color: #555; /* Texto en gris oscuro para contraste y legibilidad */
}

/* Media queries para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 2rem; /* Ajusta el tamaño del título en pantallas más pequeñas */
  }

  .contact p {
    font-size: 1rem; /* Reduce el tamaño de los párrafos para pantallas pequeñas */
  }
}

/* Media queries para pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .contact h2 {
    font-size: 1.8rem; /* Reduce aún más el tamaño del título */
  }

  .contact p {
    font-size: 0.9rem; /* Ajusta el tamaño de los párrafos para mejorar la legibilidad */
  }
}



  