/* Importa Google Fonts para mejorar la tipografía en toda la aplicación */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* @import es una forma de integrar fuentes externas como Google Fonts */

/* Configuración global de fuentes */
/* El selector universal (*) aplica las siguientes reglas a todos los elementos de la página */
* {
  margin: 0; /* Elimina el margen predeterminado de todos los elementos */
  padding: 0; /* Elimina el padding predeterminado de todos los elementos */
  box-sizing: border-box; /* Incluye el padding y border en el tamaño total del elemento, mejor para el control del diseño */
  font-family: 'Poppins', sans-serif; /* Aplica la fuente 'Poppins' como fuente principal en toda la aplicación */
}

/* Scroll suave */
html {
  scroll-behavior: smooth; /* Hace que el desplazamiento al hacer clic en los enlaces sea suave, mejorando la experiencia del usuario */
}

/* Paleta de colores blanco y verde */
/* Reglas generales para el cuerpo del documento */
body {
  background-color: #fff; /* Fondo blanco para toda la página */
  color: #333; /* Color del texto en gris oscuro para mejor contraste y legibilidad */
}

/* Estilos para enlaces */
a {
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
  color: inherit; /* Hace que los enlaces hereden el color del texto circundante */
}

/* Padding para las secciones */
/* Reglas para todas las secciones (section), que separan el contenido */
section {
  padding: 60px 20px; /* Añade padding de 60px arriba y abajo, y 20px a los lados */
}

/* Estilos generales para los encabezados */
/* Define estilos consistentes para h1, h2, y h3 */
h1, h2, h3 {
  color: #27ae60; /* Color verde que coincide con la paleta de colores de la aplicación */
  margin-bottom: 20px; /* Añade margen inferior para separar los encabezados del contenido siguiente */
  font-weight: 600; /* Aplica un peso de fuente seminegrita para mayor énfasis */
}

/* Media Queries para asegurar responsividad */
/* Media query para pantallas con un ancho máximo de 768px (tablets y móviles grandes) */
@media (max-width: 768px) {
  body {
    font-size: 0.9rem; /* Reduce el tamaño del texto en pantallas más pequeñas */
  }

  section {
    padding: 40px 15px; /* Reduce el padding de las secciones para pantallas más pequeñas */
  }
}

/* Media query para pantallas con un ancho máximo de 480px (móviles pequeños) */
@media (max-width: 480px) {
  body {
    font-size: 0.8rem; /* Reduce aún más el tamaño del texto en pantallas muy pequeñas */
  }

  section {
    padding: 30px 10px; /* Ajusta el padding para pantallas más pequeñas */
  }
}


